@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

/* m0+p0; syntax for mar| pad  bx for box-size */

:root {
    --primary-color: #C6C6C6;
    --secondary-color: #0079FF;
    --primary-bg-color: #121212;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Lato', sans-serif;
}

/* reset  */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1220px;
    margin-inline: auto;
    margin-block: 50px;
    overflow: hidden;
    color: yellow;
}

/* navbar start here  */
.navbar {
    width: 100%;
    justify-content: space-around;
    background-color: #000000;
    align-items: center;
    padding-top: 3px;
    color: #fff;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.navbar .logo img {
    width: 120px;
    filter: invert(1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar .logo img:hover {
    transform: scale(1.1);
}

.navbar .links li {
    padding: 15px;
    cursor: pointers;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

.navbar h5 {
    cursor: pointer;
}

.navbar .links li:hover,
.navbar h5:hover {
    color: var(--secondary-color);
}

.navbar .links li i {
    color: var(--secondary-color);
}

i {
    font-size: 18px;
    cursor: pointer;
}

i:hover {
    color: var(--secondary-color);
}

.more .login h5 {
    cursor: pointer;
}

.navbar .more {
    font-family: var(--primary-font);
    font-weight: 600;
}

.navbar .more .search-prime i,
.login i {
    margin-inline: 25px;
}

/* header start here  */

.header {
    width: 100%;
    height: 100%;
    background-color: #121212;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}


.header video {
    width: 100%;
    height: 100%;
}

.content {
    z-index: 99;
    position: absolute;
    top: 45%;
    left: 5%;
    color: #fff;
}

.content .data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.content .data .type {
    color: #D3AE76;
}

.content .data h2 {
    font-family: var(--secondary-font);
    font-size: 75px;
    font-weight: bold;
}

.content .data p {
    font-family: var(--primary-font);
    font-size: 20px;
}

.content .playClicks .buttons .btn {
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: var(--primary-font);
    padding: 12px 20px;
    height: 52px;
    color: #fff;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.content .playClicks .buttons .play {
    background-image: linear-gradient(#02A0D1, #0164D1);
}

.content .playClicks .buttons .more {
    background-color: #201E1E;
}

.content .playClicks .buttons .add {
    background: none;
    color: #c8c8d1;
}

.content .playClicks .buttons .add .plus {
    background-color: #AAAAAA;
    color: #000000;
    border-radius: 50%;
    font-size: 15px;
    padding: 10px;
    margin-right: 5px;
}

/* main body */


.container h4 {
    margin-left: 10px;
    margin-bottom: 25px;
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 20px;
    text-transform: capitalize;
}

.cards {
    display: flex;
    width: 100%;
    margin-block: 20px;
}

.cards .card {
    width: 250px;
    height: 250px;
    margin-left: 8px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.cards .card img {
    height: 100%;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.cards .card .overlay {
    position: absolute;
    left: 0;
    bottom: -50%;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 5px 15%;
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.cards .card .overlay h2 {
    font-family: var(--primary-font);
    font-size: 15px;
}

.cards .card .overlay p {
    font-family: var(--primary-font);
    font-size: 15px;
}

.cards .card:hover .overlay {
    bottom: 0%;
}



/* footer  */

.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer img {
    width: 200px;
    filter: invert(100%);
}

.footer h2 {
    font-size: 30px;
    margin-block: 10px;
    color: var(--secondary-color);
    font-family: var(--primary-font);
}

.footer p {
    font-family: var(--secondary-font);
    font-size: 20px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a i {
    font-size: 25px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.footer .social-icons a:hover {
    color: #55acee;
}